### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml

# Environnement virtuel
venv/
.env/

# Python
__pycache__/
*.pyc

# Fichiers temporaires
*.log
*.tmp

# Données générées
extracted_clauses.json
current_contract.txt

# OS
.DS_Store
